<!doctype html>
<html>
	<head>
		<title>UniCraft - Handmade Store</title>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link rel="icon" type="image/png" href="{{ base_url() }}/assets/img/logo.png">
		<link type="text/css" rel="stylesheet" href="{{ base_url() }}/assets/css/style.css">
		<link type="text/css" rel="stylesheet" href="{{ base_url() }}/assets/css/slider.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="{{ base_url() }}/assets/js/contact.js"></script>

		<link rel="stylesheet" href="assets/css/font-awesome-4.7.0/css/font-awesome.min.css">

	    <script>
	    function updateCartItem(obj,id){
	        $.get("cartAction.php", {action:"updateCartItem", id:id, qty:obj.value}, function(data){
	            if(data == 'ok'){
	                location.reload();
	            }else{
	                alert('Cart update failed, please try again.');
	            }
	        });
	    }
	    </script>
	</head>
	<body>
	<header class="header">
		<div class="top">
			<div class="search">
				<a href="{{path_for('user.signin') }}"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a>
			</div>
		</div>
		<nav>
			<ul>
				<li><a href="{{ path_for('products') }}" class="active" >Home</a></li>
				<li class="dropdown"><a href="#" class="">Categories</a>
					<ul class="dropdown-menu">
						{% block categories %}

						{% endblock %} 
					</ul>
				</li>
				<li><a href="about.php" class="" >About us</a></li>

				<a href="shporta.php"><div class="shporta-icon-menu button1"><img src="{{ base_url() }}/assets/img/shporta.png" width="28" height="28"></div></a>
				<li class="float-right"><a href="shporta.php" class="">Cart</a></li>
			</ul>
		</nav>
	</header>
	<div class="main">
		{% block content %}

		{% endblock %}
	</div>

	
<script src="{{ base_url() }}/assets/js/myscript.js"></script>
<script src="{{ base_url() }}/assets/js/jquery-1.4.2.min.js"></script>
<script src="{{ base_url() }}/assets/js/slider.js"></script>

	<div class="clear"></div>
	

	<div class="clear"></div>

	<footer>
		<div class="fbottom">
			<small>Copyright &copy; 2019 All right reserved.</small>
		</div>
	</footer>

	</body>
</html>