{% extends 'layouts/app.twig' %}

{% block categories %}
	{% for c in categories %}
        <li><a href="/product/category/{{c.category_id}}">{{ c.category_name }}</a></li>
    {% endfor %}
{% endblock %}


{% block content %}

<section class="col-main-full content">

{% for p in product %}
	<!-- <a href="#"><img class="thumb_medium" src="assets/img/unique-handmade-1.jpg" alt=""></a> -->
	<div class="float-left box">
		<a href="produkti.php?id=28"><img class="thumb_medium" src="{{p.product_image}}" alt=""></a>

		<h1><a href="produkti.php?id=28">{{ p.product_long_desc }}</p>
		<div class="price">€{{p.product_price}}</div>
		<a href="cartAction.php?action=addToCart&id=28"><div class="shporta-icon-product button1"><img src="{{base_url()}}/assets/img/shporta.png" width="32" height="32"></div></a>
	</div>

{% endfor %}

<div class="clear"></div>

<div class="clear"></div>


</section>

{% endblock %}